<template>
  <div>
    <div v-if="imageUrl">
      <!-- {{fileBaseUrl + imageUrl}} -->
      <!-- <img
        :src="fileBaseUrl + imageUrl"
        alt=""
        srcset=""
        class="avatar"
        :style="`width: ${size.width}; height: ${size.height}`"
      > -->
      <!-- <video
        id="myvideo1"
        ref="videoId"
        :style="`width: ${size.width}; height: ${size.height}`"
        autoplay="true"
        controls
        muted
      >
        <source :src="fileBaseUrl + imageUrl">
      </video> -->
      <audio :src="fileBaseUrl + imageUrl" controls></audio>
      <span class="img-wrap-actions" :style="`width: ${size.width}; height: ${size.height}`">
        <!-- <i style="margin: 0 5px" class="el-icon-zoom-in" @click="enlargeItem" /> -->
        <i v-if="isDelImg" style="margin: 0 5px" class="img-wrap-delete el-icon-delete" @click="deleteItem" />
      </span>
    </div>
    <el-upload
      v-else
      ref="upload"
      class="avatar-uploader333"
      :action="url"
      :http-request="uploadFile"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
    >
      <el-button size="small" type="primary">上传音频</el-button>
    </el-upload>
    <!-- <el-dialog append-to-body :visible.sync="dialogVisible">
      <img width="100%" :src="fileBaseUrl + imageUrl" alt="">
    </el-dialog> -->
    <!-- <el-alert v-if="showTips" class="no-padding" :title="tips" type="info" /> -->
  </div>
</template>
<script>
import { uploadFile } from '@/api/file'

export default {
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    // 是否是新增上传详情内容图
    isAdd: {
      type: [Boolean, String],
      default: false
    },
    showTips: {
      type: Boolean,
      default: true
    },
    tips: {
      type: String,
      default: '图片宽高比1：1等比效果最佳'
    },
    value: {
      type: String,
      default: ''
    },
    sizeType: {
      type: String,
      default: '178*178'
    },
    isDelImg: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      fileBaseUrl: `${process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_HOST : window.location.origin}/`,
      url: '', // 请求地址  后面有需求在增加
      imageUrl: null,
      size: {
        width: '178px',
        height: '178px'
      },
      dialogVisible: false,
      dialogImageUrl: ''
    }
  },
  watch: {
    value() {
      this.imageUrl = this.value
    }
  },
  mounted() {
    this.url = ''
    this.size = {
      width: this.sizeType.split('*')[0] + 'px',
      height: this.sizeType.split('*')[1] + 'px'
    }
  },
  methods: {
    enlargeItem() {
      this.dialogVisible = true
    },
    deleteItem() {
      this.imageUrl = null
      this.$emit('deleteImg')
    },
    // 成功回调
    handleAvatarSuccess(res, file) {
      if (typeof this.isAdd === 'string' || !this.isAdd) {
        this.imageUrl = `${res}`
      }
      this.$emit('change', this.imageUrl)
      this.$emit('getImg', res.data.url)
    },
    // 图片上传前校验
    beforeAvatarUpload(file) {
      console.log(file)
      const fileTypes = [
        'audio/mpeg'
      ]
      const isImage = fileTypes.includes(file.type)
      const isLt2M = file.size / 1024 / 1024 < 20
      if (!isImage) {
        this.$message.error('图片格式不符合规范')
      }
      if (!isLt2M) {
        this.$message.error('上传头像图片大小不能超过 20MB!')
      }
      return isImage && isLt2M
    },
    // 清空数据
    clearFile() {
      this.imageUrl = ''
    },
    // 上传的请求（这里是request封装的请求，封装了请求头等信息）
    uploadFile(param) {
      // 获取上传的文件名
      const file = param.file
      // 调用param中的钩子函数处理各种情况，这样就可以用在组件中用钩子了。也可以用res.code==200来进行判断处理各种情况
      uploadFile(file, param).then(res => {
        param.onSuccess(res)
      }).catch(err => {
        param.onError(err)
      })
    }
  }
}
</script>
<style lang="scss">
.avatar-uploader .el-upload333 {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload333:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.img-box {
  height: 178px;
  width: 178px;
  border: 1px dashed #d9d9d9;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    .img-wrap-actions {
      transition: all .5s;
      opacity: 0.5;
    }
  }

  .img-wrap-actions {
    transition: all .5s;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 178px;
    height: 178px;
    background-color: #000000;
    opacity: 0;
    justify-content: center;
    align-items: center;

    .img-wrap-delete, .el-icon-zoom-in {
      height: auto;
      font-size: 24px;
      color: #cccccc;

      &:hover {
        color: #FFFFFFFF;
      }
    }
  }
}

.upload-box {
  width: 178px;
  height: 178px;
  margin-top: 10px;
  float: left;
}
</style>
