<template>
  <div class="inter-container">
    <MainHeader :is-add="false" @refresh="fetchData(1)" />
    <p class="user_score">流水统计：<i>24739.00</i></p>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="序号" width="90">
        <template slot-scope="scope">
          {{ scope.$index + 1 }}
        </template>
      </el-table-column>
      <el-table-column label="用户" prop="iduser" />
      <el-table-column label="收支类型" prop="type" :formatter="typeFormatter" />
      <el-table-column label="流水金额">
        <template slot-scope="scope">
          <span v-if="!scope.row.type" style="color: green">{{ scope.row.money }}</span>
          <span v-else style="color: red">-{{ scope.row.money }}</span>
        </template>
      </el-table-column>
      <el-table-column label="简介" prop="info" show-overflow-tooltip />
      <el-table-column label="用途" prop="purpose" />
      <el-table-column label="时间" prop="time" width="150" />
    </el-table>
    <el-pagination
      style="margin-top: 10px;text-align: right;"
      :total="page.total"
      :current-page.sync="page.page"
      :page-size="page.size"
      layout="total, sizes, prev, pager, next, jumper"
      :page-sizes="[10, 20, 30, 40]"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import { getInterList } from '@/api/user'
import MainHeader from '@/components/MainHeader'
export default {
  components: {
    MainHeader
  },
  data() {
    return {
      list: [],
      listLoading: true,
      updateVisible: false,
      page: {
        page: 1,
        size: 10,
        total: 0
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData(reset) {
      if (reset === 1) {
        this.page.page = 1
      }
      this.listLoading = true
      getInterList(this.page).then(response => {
        this.page.total = response.total
        this.list = response.list
        this.listLoading = false
      })
    },
    handleSizeChange(val) {
      this.page.size = val
      this.fetchData(1)
    },
    handleCurrentChange(val) {
      this.page.page = val
      this.fetchData()
    },
    typeFormatter(val) {
      return val.type === 1 ? '支出' : '收入'
    }
  }
}
</script>
<style lang="scss">
.inter-container{
  margin: 10px;
}
.inter-bottom{
  margin-top: 10px;
  overflow: hidden;
  .el-pagination{
    float: right;
  }
}
.user_score{
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding-top: 10px;
  i{
    color: red;
    font-weight: normal;
    font-style: normal;
  }
}
</style>

