<template>
  <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="ID" prop="id">
      <el-input v-model="ruleForm.id" />
    </el-form-item>
    <el-form-item label="手机号" prop="tel">
      <el-input v-model="ruleForm.tel" />
    </el-form-item>
    <el-form-item label="身份" prop="auth">
      <!-- <el-input v-model="ruleForm.auth" /> -->
      <el-select v-model="ruleForm.auth" placeholder="请选择">
        <el-option
          v-for="item in authOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="账号" prop="act">
      <el-input v-model="ruleForm.act" />
    </el-form-item>
    <el-form-item label="在线状态" prop="online">
      <el-select v-model="ruleForm.online" placeholder="请选择">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="真实姓名" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { deepClone } from '@/utils'
export default {
  props: {
    initData: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      rules: {
        id: [
          { required: true, message: '请输入id', trigger: 'blur' }
        ],
        tel: [
          { required: true, message: '请输入联系电话', trigger: 'blur' }
        ],
        act: [
          { required: true, message: '请输入身份', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '请输入真实姓名', trigger: 'blur' }
        ],
        online: [
          { required: true, message: '请选择在线状态', trigger: 'change' }
        ]
      },
      min: 1,
      max: 100,
      options: [
        {
          value: 1,
          label: '在线'
        },
        {
          value: 0,
          label: '离线'
        }
      ],
      ruleForm: {},
      authOptions: [
        {
          label: '村长',
          value: '村长'
        },
        {
          label: '村民',
          value: '村民'
        },
        {
          label: '业务员',
          value: '业务员'
        }
      ]
    }
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
