<template>
  <div class="userlist-container">
    <MainHeader :is-add="false" @refresh="fetchData(1)" />
    <p class="user_score">账户总积分：<i>27739.00</i></p>
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
    >
      <el-table-column align="center" label="序号" width="90">
        <template slot-scope="scope">
          {{ scope.$index + 1 }}
        </template>
      </el-table-column>
      <el-table-column label="用户昵称" show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.nickname }}
        </template>
      </el-table-column>
      <el-table-column label="手机号" show-overflow-tooltip>
        <template slot-scope="scope">
          <span>{{ scope.row.tel }}</span>
        </template>
      </el-table-column>
      <el-table-column label="账号" show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.act }}
        </template>
      </el-table-column>
      <el-table-column label="身份">
        <template slot-scope="scope">
          {{ scope.row.auth }}
        </template>
      </el-table-column>
      <el-table-column label="头像">
        <template slot-scope="scope">
          <img :src="fileBaseUrl + scope.row.avatar" alt="" width="40" height="40" @click="imgClick(scope.row.avatar)">
        </template>
      </el-table-column>
      <el-table-column label="真实姓名">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="账户积分">
        <template slot-scope="scope">
          {{ scope.row.point }}
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="在线状态" width="80">
        <template slot-scope="scope">
          <span v-if="scope.row.online == 0">离线</span>
          <span v-else>在线</span>
        </template>
      </el-table-column>
      <el-table-column label="最新登录" show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.login }}
        </template>
      </el-table-column>
      <el-table-column label="注册时间" show-overflow-tooltip>
        <template slot-scope="scope">
          {{ scope.row.register }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="150" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="handleSee(scope.row)">查看</el-button>
          <el-button type="text" size="small" @click="handleEdit(scope.row)">编辑</el-button>
          <el-button type="text" size="small" @click="handleDel(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="userlist-bottom">
      <el-pagination
        :page-sizes="pageSizes"
        :page-size="page.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
    <el-dialog title="用户列表 / 编辑" :visible.sync="updateVisible">
      <AddOrEdit v-if="updateVisible" :init-data="ruleForm" @update="update" />
    </el-dialog>
    <el-dialog title="用户列表 / 查看" :visible.sync="seeUpdateVisible">
      <See v-if="seeUpdateVisible" :rule-form="ruleForm" />
    </el-dialog>
    <el-dialog append-to-body :visible.sync="imgVisible">
      <img width="100%" :src="fileBaseUrl + imageUrl" alt="">
    </el-dialog>
  </div>
</template>

<script>
import { getUserList, updateUser, delUser } from '@/api/user'
import MainHeader from '@/components/MainHeader'
import AddOrEdit from './addOrEdit'
import See from './see'
export default {
  components: {
    MainHeader,
    AddOrEdit,
    See
  },
  data() {
    return {
      list: [],
      ruleForm: {},
      listLoading: true,
      updateVisible: false,
      seeUpdateVisible: false,
      page: {
        page: 1,
        size: 10,
        total: 0
      },
      pageSizes: [10, 20, 30, 40],
      fileBaseUrl: `${process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_HOST : window.location.origin}/`,
      imgVisible: false,
      imageUrl: ''
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData(reset) {
      this.listLoading = true
      if (reset) {
        this.page.page = 1
      }
      getUserList(this.page).then(response => {
        this.list = response.list
        this.page.total = response.total
        this.listLoading = false
      })
    },
    handleSizeChange(val) {
      this.page.size = val
      this.fetchData(1)
    },
    handleCurrentChange(val) {
      this.page.page = val
      this.fetchData()
    },
    // add() {
    //   this.updateVisible = true
    // },
    handleEdit(data) {
      this.ruleForm = data
      this.updateVisible = true
    },
    handleDel(data) {
      this.$confirm('确认删除这条数据？', '操作提示')
        .then(() => {
          delUser({ id: data.id }).then(() => {
            this.updateVisible = false
            this.fetchData()
            this.$message({
              message: '删除成功',
              type: 'success'
            })
          })
        })
        .catch(() => {
          this.$message('已取消')
        })
    },
    update(params) {
      updateUser(JSON.stringify(params)).then(() => {
        this.updateVisible = false
        this.fetchData()
        this.$message.success(`${params.id ? '修改' : '新增'}成功`)
      })
    },
    handleSee(data) {
      console.log('aaa', this.seeUpdateVisible)
      this.ruleForm = data
      this.seeUpdateVisible = true
    },
    imgClick(val) {
      this.imgVisible = true
      this.imageUrl = val
    }
  }
}
</script>
<style lang="scss">
.userlist-container{
  padding: 10px;
}
.userlist-bottom{
  margin-top: 10px;
  overflow: hidden;
  .el-pagination{
    float: right;
  }
}
.user_score{
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding-top: 10px;
  i{
    color: red;
    font-weight: normal;
    font-style: normal;
  }
}
</style>

