<template>
  <el-form ref="ruleForm" :model="ruleForm" label-width="100px" class="demo-ruleForm">
    <el-form-item label="ID" prop="id">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="用户昵称" prop="nickname">
      <el-input v-model="ruleForm.nickname" disabled />
    </el-form-item>
    <el-form-item label="手机号" prop="tel">
      <el-input v-model="ruleForm.tel" disabled />
    </el-form-item>
    <el-form-item label="账号" prop="act">
      <el-input v-model="ruleForm.act" disabled />
    </el-form-item>
    <el-form-item label="微信Openid" prop="openid">
      <el-input v-model="ruleForm.openid" disabled />
    </el-form-item>
    <el-form-item label="真实姓名" prop="name">
      <el-input v-model="ruleForm.name" disabled />
    </el-form-item>
    <el-form-item label="账户积分" prop="point">
      <el-input v-model="ruleForm.point" disabled />
    </el-form-item>
    <el-form-item label="用户身份" prop="auth">
      <el-input v-model="ruleForm.auth" disabled />
    </el-form-item>
    <el-form-item label="身份证号" prop="card">
      <el-input v-model="ruleForm.card" disabled />
    </el-form-item>
    <el-form-item label="头像" prop="avatar">
      <!-- <ImgUpload v-model="ruleForm.avatar" :is-del-img="false" /> -->
      <img v-if="ruleForm.avatar == null || ruleForm.avatar == 'null' || ruleForm.avatar == undefined" style="width: 140px;height: 140px;" src="../../../assets/images/avatar.png" alt="">
      <img v-else style="width: 140px;height: 140px;" :src="fileBaseUrl + ruleForm.avatar" alt="">
    </el-form-item>
    <el-form-item label="最新登录" prop="login">
      <el-input v-model="ruleForm.login" disabled />
    </el-form-item>
    <el-form-item label="注册时间" prop="register">
      <el-input v-model="ruleForm.register" disabled />
    </el-form-item>
    <!-- <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item> -->
  </el-form>
</template>
<script>
// import ImgUpload from '@/components/ImgUpload'
export default {
  // components: {ImgUpload},
  props: {
    ruleForm: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      // rules: {
      //   id: [
      //     { required: true, message: '请输入id', trigger: 'blur' }
      //   ],
      //   name: [
      //     { required: true, message: '请输入姓名', trigger: 'blur' }
      //   ],
      //   phone: [
      //     { required: true, message: '请输入联系电话', trigger: 'blur' }
      //   ],
      //   wechat: [
      //     { required: true, message: '请输入微信号', trigger: 'blur' }
      //   ],
      //   job: [
      //     { required: true, message: '请输入职称', trigger: 'blur' }
      //   ],
      //   dept: [
      //     { required: true, message: '请选择所属科室', trigger: 'change' }
      //   ],
      //   avatar: [
      //     { required: true, message: '请上传头像', trigger: 'blur' }
      //   ],
      //   times: [
      //     { type: 'date', required: true, message: '请选择出诊时间', trigger: 'change' }
      //   ]
      // },
      min: 1,
      max: 100,
      options: [
        {
          value: '1',
          label: '在线'
        },
        {
          value: '0',
          label: '离线'
        }
      ],
      fileBaseUrl: `${process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_HOST : window.location.origin}/`
    }
  },
  methods: {
    // submitForm(formName) {
    //   this.$refs[formName].validate((valid) => {
    //     if (valid) {
    //       alert('submit!')
    //     } else {
    //       console.log('error submit!!')
    //       return false
    //     }
    //   })
    // },
    // resetForm(formName) {
    //   this.$refs[formName].resetFields()
    // }
  }
}
</script>
