<template>
  <el-form ref="ruleForm" :disabled="disabled" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="分类ID">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="分类名称" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item label="是否显示">
      <el-switch
        v-model="ruleForm.show"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item>
    <el-form-item label="排序" prop="index">
      <el-input-number v-model="ruleForm.index" :min="1" :max="1000" />
    </el-form-item>
    <el-form-item v-if="!disabled">
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { parseTime, deepClone } from '@/utils'

export default {
  props: {
    initData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      ruleForm: {
        name: '',
        index: 1
      },
      rules: {
        name: [
          { required: true, message: '请输入科室名称', trigger: 'blur' }
        ],
        index: [
          { required: true, message: '请输入排序', trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
    this.ruleForm.index = this.ruleForm.index || 1
  },
  methods: {
    submitForm(formName) {
      if (!this.ruleForm.id) {
        this.ruleForm.time = parseTime(new Date(), '{y}-{m}-{d} {h}:{i}')
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
