<template>
  <div class="applicaiton-container">
    <el-form ref="form" :model="form" label-width="120px">
      <el-form-item label="客服电话">
        <el-input v-model="form.tel" prefix-icon="el-icon-edit" />
      </el-form-item>
      <el-form-item label="音频" prop="mp3">
        <ImgUpload3 v-model="form.mp3" />
      </el-form-item>
      <el-form-item label="审核状态">
        <el-switch
          v-model="form.state"
          active-color="#13ce66"
          inactive-color="#C0CCDA"
          :active-value="1"
          :inactive-value="0"
        />
        <p><i class="el-icon-question">&nbsp;</i>开启代表审核中，隐藏底部菜单"政务"，并且需要手动在"广告管理"内隐藏广告位为"首页icon图"里的"政务菜单"信息</p>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">提交</el-button>
        <el-button @click="onCancel">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getApplication, setApplication } from '@/api/index'
import ImgUpload3 from '@/components/ImgUpload3'
export default {
  components: { ImgUpload3 },
  data() {
    return {
      form: {}
    }
  },
  created() {
    this.getApplication()
  },
  methods: {
    onCancel() {
      this.form = {}
    },
    getApplication() {
      getApplication().then(res => {
        console.log(res)
        this.form = res.list[0]
      })
    },
    onSubmit() {
      setApplication(this.form).then(() => {
        this.$message({
          message: '提交成功',
          type: 'success'
        })
      })
    }
  }
}
</script>

<style lang="scss">
.applicaiton-container{
  padding: 20px 200px;
  background: #fff;
  margin-top: 1px;
  .el-form-item__label{
    color: #333;
  }
  .el-form-item__content{
    p{
      line-height: 30px;
      margin: 0;
      color: #999;
    }
  }
}
</style>

