<template>
  <el-form ref="ruleForm" :disabled="disabled" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="ID">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="广告位" prop="idadc">
      <el-select v-model="ruleForm.idadc" placeholder="请选择广告位">
        <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id" />
      </el-select>
    </el-form-item>
    <el-form-item label="广告名称" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item label="广告类型" prop="hreftype">
      <el-radio-group v-model="ruleForm.hreftype" @change="setImageLabel">
        <el-radio :label="0">空</el-radio>
        <el-radio :label="1">图片</el-radio>
        <el-radio :label="2">视频</el-radio>
        <el-radio :label="3">网页</el-radio>
        <el-radio :label="4">小程序</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item v-show="ruleForm.hreftype === 1" label="广告图" prop="href">
      <ImgUpload v-model="ruleForm.href" />
    </el-form-item>
    <el-form-item v-show="ruleForm.hreftype === 2" label="广告视频" prop="href">
      <ImgUpload2 v-model="ruleForm.href" />
    </el-form-item>
    <el-form-item v-show="ruleForm.hreftype === 3" label="跳转链接" prop="href">
      <el-input v-model="ruleForm.href" />
    </el-form-item>
    <el-form-item v-show="ruleForm.hreftype === 4" label="小程序图片" prop="href">
      <ImgUpload v-model="ruleForm.href" />
    </el-form-item>
    <el-form-item v-show="ruleForm.hreftype === 0" label="跳转链接" prop="href">
      <el-input v-model="ruleForm.href" disabled />
    </el-form-item>
    <el-form-item label="封面图片" prop="img">
      <ImgUpload v-model="ruleForm.img" />
    </el-form-item>
    <el-form-item label="是否显示">
      <el-switch
        v-model="ruleForm.show"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item>
    <el-form-item label="排序" prop="index">
      <el-input-number v-model="ruleForm.index" :min="1" :max="1000" />
    </el-form-item>
    <el-form-item v-if="!disabled">
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { getList } from '@/api/advertSpace'
import ImgUpload from '@/components/ImgUpload'
import ImgUpload2 from '@/components/ImgUpload2'
import { parseTime, deepClone } from '@/utils'

export default {
  components: { ImgUpload, ImgUpload2 },
  props: {
    initData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      ruleForm: {
        hreftype: 0,
        idadc: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入广告名称', trigger: 'blur' }
        ],
        href: [
          { required: true, message: '请输入跳转链接或图片', trigger: 'blur' }
        ],
        idadc: [
          { required: true, message: '请选择广告位', trigger: 'change' }
        ],
        img: [
          { required: true, message: '请上传广告图', trigger: 'blur' }
        ],
        index: [
          { required: true, message: '请输入排序', trigger: 'blur' }
        ]
      },
      typeList: [],
      imageLabel: '跳转链接'
    }
  },
  created() {
    getList().then(res => {
      this.typeList = res.list
      this.$nextTick(() => {
        this.$set(this.ruleForm, 'idadc', this.ruleForm.idadc ? this.typeList.filter(el => el.name === this.ruleForm.idadc)[0].id : '')
      })
    })
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
    this.ruleForm.index = this.ruleForm.index || 1
    this.$set(this.ruleForm, 'hreftype', this.ruleForm.hreftype ? this.ruleForm.hreftype : 0)
  },
  methods: {
    submitForm(formName) {
      console.log(this.ruleForm)
      if (!this.ruleForm.id) {
        this.ruleForm.time = parseTime(new Date(), '{y}-{m}-{d} {h}:{i}')
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },
    setImageLabel(e) {
      if (e === 1) {
        this.imageLabel = '广告图'
      } else if (e === 2) {
        this.imageLabel = '视频'
      } else {
        this.imageLabel = '跳转链接'
      }
    }
  }
}
</script>
