<template>
  <div v-loading="uploadLoading" class="wrap" element-loading-text="上传中...">
    <div :id="editorId" />
    <el-upload
      :action="uploadUrl"
      :show-file-list="false"
      :before-upload="uploadBeforeUploadHandle"
      :on-success="uploadSuccessHandle"
      :http-request="uploadFile"
      style="display: none;"
    >
      <el-button ref="uploadBtnInEditor" type="primary" size="small">点击上传</el-button>
    </el-upload>
    <el-upload
      :action="uploadUrl"
      :show-file-list="false"
      :before-upload="uploadBeforeVideoHandle"
      :on-success="uploadSuccessVideoHandle"
      :http-request="uploadFile"
      style="display: none;"
    >
      <el-button ref="uploadVideoInEditor" type="primary" size="small">点击上传</el-button>
    </el-upload>
  </div>
</template>

<script>
import 'quill/dist/quill.snow.css'
import Quill from 'quill'

function isImageSupported(type) {
  const supportedImageType = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif']
  return supportedImageType.includes(type)
}

import { ImageBlot, VideoBlot } from './quill/blot'
import { uploadFile } from '@/api/file'

Quill.register(ImageBlot)
Quill.register({ 'formats/video': VideoBlot }, true)

const titleConfig = {
  'ql-bold': '加粗',
  'ql-color': '字体颜色',
  'ql-font': '字体',
  'ql-code': '插入代码',
  'ql-italic': '斜体',
  'ql-link': '添加链接',
  'ql-background': '背景颜色',
  'ql-size': '字体大小',
  'ql-strike': '删除线',
  'ql-script': '上标/下标',
  'ql-underline': '下划线',
  'ql-blockquote': '引用',
  'ql-header': '标题',
  'ql-indent': '缩进',
  'ql-list': '列表',
  'ql-align': '文本对齐',
  'ql-direction': '文本方向',
  'ql-code-block': '代码块',
  'ql-formula': '公式',
  'ql-image': '图片',
  'ql-video': '视频',
  'ql-clean': '清除字体样式',
  'ql-upload': '文件'
}

export default {
  components: {
    // EditorPreview
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    editorId: {
      type: String,
      default: 'J_quillEditor'
    },
    readOnly: {
      type: Boolean,
      default: false
    },
    previewEnable: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    videoEnable: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      fileBaseUrl: `${process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_HOST : window.location.origin}/`,
      uploadUrl: '',
      uploadLoading: false,
      editorPreviewContent: '',
      quillEditorToolbarOptions: [
        ['bold', 'italic', 'underline', 'strike'],
        ['blockquote', 'code-block', 'image'],
        [{ 'header': 1 }, { 'header': 2 }],
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],
        [{ 'indent': '-1' }, { 'indent': '+1' }],
        [{ 'direction': 'rtl' }],
        [{ 'background': [] }],
        [{ 'align': [] }],
        ['clean']
      ]
    }
  },
  mounted() {
    if (this.videoEnable) {
      this.quillEditorToolbarOptions[1].push('video')
    }
    this.init()
  },
  methods: {
    addQuillTitle() {
      const oToolBar = document.querySelector('.ql-toolbar')
      const aButton = oToolBar.querySelectorAll('button')
      const aSelect = oToolBar.querySelectorAll('.ql-picker')
      aButton.forEach(function(item) {
        if (item.className === 'ql-script') {
          item.value === 'sub' ? (item.title = '下标') : (item.title = '上标')
        } else if (item.className === 'ql-indent') {
          item.value === '+1'
            ? (item.title = '向右缩进')
            : (item.title = '向左缩进')
        } else {
          item.title = titleConfig[item.classList[0]]
        }
      })
      aSelect.forEach(function(item) {
        item.title = titleConfig[item.classList[0]]
      })
    },
    init() {
      this.uploadUrl = ''
      this.$nextTick(() => {
        this.quillEditorHandle()
        this.addQuillTitle()
        setTimeout(() => {
          this.quillEditor.root.innerHTML = this.value
        }, 2000)
      })
    },
    quillEditorHandle() {
      this.quillEditor = new Quill(`#${this.editorId}`, {
        modules: {
          toolbar: this.quillEditorToolbarOptions
        },
        readOnly: this.readOnly,
        theme: 'snow'
      })
      // 自定义上传图片功能 (使用element upload组件)
      this.quillEditor.getModule('toolbar').addHandler('image', () => {
        this.$refs.uploadBtnInEditor.$el.click()
      })
      // 自定义上传视频功能 (使用element upload组件)
      this.quillEditor.getModule('toolbar').addHandler('video', () => {
        this.$refs.uploadVideoInEditor.$el.click()
      })
      // 监听内容变化，动态赋值
      this.quillEditor.on('text-change', () => {
        this.$emit('change', this.quillEditor.root.innerHTML)
      })
    },
    // 上传图片之前
    uploadBeforeUploadHandle(file) {
      if (!isImageSupported(file.type)) {
        this.$message.error('只支持jpg、jpeg、png、gif格式的图片！')
        return false
      }
      return true
    },
    // 上传图片成功
    uploadSuccessHandle(res, file, fileList) {
      this.quillEditor.insertEmbed(this.quillEditor.getSelection().index, 'image', {
        url: this.fileBaseUrl + res,
        controls: 'controls',
        width: '100%',
        height: 'auto'
      })
    },
    // 上传视频之前
    uploadBeforeVideoHandle(file) {
      if (file.type !== 'video/mp4') {
        this.$message.error('只支持mp4格式的视频！')
        return false
      }
      this.uploadLoading = true
      return true
    },
    // 上传视频成功
    uploadSuccessVideoHandle(res, file, fileList) {
      this.uploadLoading = false
      this.quillEditor.insertEmbed(this.quillEditor.getSelection().index, 'video', this.fileBaseUrl + res)
    },
    getContent() {
      return this.quillEditor.root.innerHTML
    },
    clear() {
      this.quillEditor.setContents([])
    },
    // 上传的请求（这里是request封装的请求，封装了请求头等信息）
    uploadFile(param) {
      // 获取上传的文件名
      const file = param.file
      // 调用param中的钩子函数处理各种情况，这样就可以用在组件中用钩子了。也可以用res.code==200来进行判断处理各种情况
      uploadFile(file, param).then(res => {
        param.onSuccess(res)
      }).catch(err => {
        param.onError(err)
      })
    }
  }
}
</script>
<style>
.ql-snow .ql-picker {
  height: auto !important;
}
</style>
<style lang="scss" scoped>
.wrap {
  max-width: 100%;

  #J_quillEditor {
    height: 350px;
  }
}

.ql-container {
  font-family: 'SimSun';
}
</style>
