<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
// import resize from './mixins/resize'

const animationDuration = 2000

export default {
  // mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '200px'
    },
    initDate: {
      type: Array,
      default() {
        return ['2022-5-1', '2022-5-2', '2022-5-3', '2022-5-4', '2022-5-5', '2022-5-6', '2022-5-7']
      }
    },
    initData: {
      type: Array,
      default() {
        return [3, 12, 22, 9, 14, 34, 15]
      }
    },
    initColor: {
      type: Array,
      default() {
        return ['#2ec7c9', '#2ec7c9', '#2ec7c9', '#2ec7c9', '#2ec7c9', '#2ec7c9', '#2ec7c9']
      }
    }
  },
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')

      this.chart.setOption({
        tooltip: {
          trigger: 'axis'
        },
        grid: {
          top: 10,
          left: '2%',
          right: '2%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [{
          type: 'category',
          data: this.initDate,
          axisTick: {
            alignWithLabel: true
          }
        }],
        yAxis: [{
          type: 'value',
          axisTick: {
            show: false
          }
        }],
        series: [{
          type: 'bar',
          stack: 'vistors',
          barWidth: '50%',
          data: this.initData,
          animationDuration
        }],
        color: this.initColor
      })
    }
  }
}
</script>
