<template>
  <div v-loading="isEchartsShow" class="dashboard-container">
    <div class="da-info">
      <!-- <p><img src="../../assets/images/index-logo.png" alt=""></p> -->
      <h3>数字云上展厅</h3>
    </div>
    <!-- <el-row :gutter="32">
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          1
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          2
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <bar-chart />
        </div>
      </el-col>
    </el-row> -->
    <el-row :gutter="12">
      <el-col :span="6">
        <el-card shadow="hover">
          累计用户
          <span class="spanText">{{ indexData.visitors }}</span>
        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card shadow="hover">
          累计留言
          <span class="spanText">{{ indexData.messages }}</span>
        </el-card>
      </el-col>
      <!-- <el-col :span="6">
        <el-card shadow="hover">
          账户总积分
          <span>{{ indexData.points }}</span>
        </el-card>
      </el-col> -->
    </el-row>
    <el-row v-if="isEchartsEnd" :gutter="12">
      <el-col :span="12" style="margin-bottom: 10px;">
        <el-card shadow="hover">
          <p>今日访问量</p>
          <bar-chart :init-data="data1" :init-date="date1" :init-color="color" />
        </el-card>
      </el-col>
      <el-col :span="12" style="margin-bottom: 10px;">
        <el-card shadow="hover">
          <p>累计访问量</p>
          <bar-chart :init-data="data2" :init-date="date2" :init-color="color" />
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card shadow="hover">
          <p>今日留言</p>
          <bar-chart :init-data="data3" :init-date="date3" />
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card shadow="hover">
          <p>累计留言</p>
          <bar-chart :init-data="data4" :init-date="date4" />
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { getIndexData, getIndexEcharts } from '@/api/index'
import BarChart from './components/BarChart'
export default {
  name: 'Dashboard',
  components: {
    BarChart
  },
  data() {
    return {
      indexData: {},
      date1: [],
      data1: [],
      date2: [],
      data2: [],
      date3: [],
      data3: [],
      date4: [],
      data4: [],
      isEchartsShow: true,
      isEchartsEnd: false,
      color: ['#409EFF', '#409EFF', '#409EFF', '#409EFF', '#409EFF', '#409EFF', '#409EFF']
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  created() {
    this.getIndexData()
    this.getIndexEcharts()
  },
  methods: {
    getIndexData() {
      getIndexData().then(res => {
        this.indexData = res
      })
    },
    getIndexEcharts() {
      getIndexEcharts().then(res => {
        this.date1 = res.visitor.date
        this.data1 = res.visitor.data

        this.date2 = res.visitors.date
        this.data2 = res.visitors.data

        this.date3 = res.message.date
        this.data3 = res.message.data

        this.date4 = res.messages.date
        this.data4 = res.messages.data

        this.isEchartsShow = false
        this.isEchartsEnd = true
      })
    }
  }
}
</script>

<style lang="scss">
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.da-info{
  height: 160px;
  text-align: center;
  background: #5c6bb0;
  p {
    padding: 30px 0 0;
    margin: 0;
    img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px #fff solid;
    }
  }
  h3{
    font-size: 34px;
    color: #fff;
    font-weight: normal;
    margin:0;
    height: 160px;
    line-height: 160px;
  }
}
.dashboard-container{
  .el-row{
    margin-top: 15px;
    .el-card{
      border-color: #ddd;
    }
    .el-card__body{
      min-height: 100px;
      padding: 10px;
      position: relative;
      .spanText{
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 24px;
        color: #465866;
        font-weight: bold;
      }

      p{
        margin: 0 0 5px;
      }
    }
  }
}
</style>
