<template>
  <el-form ref="ruleForm" :disabled="disabled" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="ID" prop="id">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="政务分类" prop="idgovc">
      <el-select v-model="ruleForm.idgovc" placeholder="请选择政务分类">
        <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id" />
      </el-select>
    </el-form-item>
    <el-form-item label="政务标题" prop="title">
      <el-input v-model="ruleForm.title" />
    </el-form-item>
    <el-form-item label="联系电话" prop="tel">
      <el-input v-model="ruleForm.tel" />
    </el-form-item>
    <el-form-item label="封面图片" prop="pic">
      <ImgUpload v-model="ruleForm.pic" />
    </el-form-item>
    <el-form-item label="详情大图">
      <ImgUpload v-model="ruleForm.img" />
    </el-form-item>
    <el-form-item label="政务内容">
      <editor v-model="ruleForm.info" editor-id="manageEditor" />
    </el-form-item>
    <el-form-item label="发布时间" prop="time">
      <el-date-picker
        v-model="ruleForm.time"
        type="datetime"
        placeholder="选择发布时间"
      />
    </el-form-item>
    <el-form-item label="是否显示">
      <el-switch
        v-model="ruleForm.show"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item>
    <el-form-item label="排序" prop="index">
      <el-input-number v-model="ruleForm.index" :min="1" :max="1000" />
    </el-form-item>
    <el-form-item label="是否推荐">
      <el-switch
        v-model="ruleForm.susume"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item>
    <el-form-item v-if="!disabled">
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { getList } from '@/api/govType'
import editor from '@/components/editor'
import ImgUpload from '@/components/ImgUpload'
import { parseTime, deepClone } from '@/utils'

export default {
  components: { editor, ImgUpload },
  props: {
    initData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      ruleForm: {},
      rules: {
        title: [
          { required: true, message: '请输入政务标题', trigger: 'blur' }
        ],
        tel: [
          { required: true, message: '请输入联系电话', trigger: 'blur' }
        ],
        idgovc: [
          { required: true, message: '请选择政务分类', trigger: 'change' }
        ],
        pic: [
          { required: true, message: '请上传封面图片', trigger: 'blur' }
        ],
        index: [
          { required: true, message: '请输入排序', trigger: 'blur' }
        ],
        time: [
          { required: true, message: '请选择发布时间', trigger: 'change' }
        ]
      },
      typeList: []
    }
  },
  created() {
    getList().then(res => {
      this.typeList = res.list
      this.$nextTick(() => {
        this.$set(this.ruleForm, 'idgovc', this.ruleForm.idgovc ? this.typeList.filter(el => el.name === this.ruleForm.idgovc)[0].id : '')
      })
    })
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
    this.ruleForm.index = this.ruleForm.index || 1
  },
  methods: {
    submitForm(formName) {
      if (!this.ruleForm.id) {
        this.ruleForm.time = parseTime(new Date(), '{y}-{m}-{d} {h}:{i}')
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
