<template>
  <div class="app-container">
    <MainHeader @refresh="fetchData(1)" @add="addOrEdit(null)" />
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
    >
      <el-table-column align="center" label="序号" width="90">
        <template slot-scope="scope">
          {{ scope.$index + 1 }}
        </template>
      </el-table-column>
      <el-table-column label="政务分类" prop="idgovc" />
      <el-table-column label="政务标题" prop="title" show-overflow-tooltip />
      <el-table-column label="联系电话" prop="tel" />
      <el-table-column label="是否显示" align="center">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.show"
            active-color="#13ce66"
            inactive-color="#C0CCDA"
            :active-value="1"
            :inactive-value="0"
            @change="update(scope.row, 'show')"
          />
        </template>
      </el-table-column>
      <el-table-column label="是否推荐" align="center">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.susume"
            active-color="#13ce66"
            inactive-color="#C0CCDA"
            :active-value="1"
            :inactive-value="0"
            @change="update(scope.row, 'susume')"
          />
        </template>
      </el-table-column>
      <el-table-column label="发布时间" prop="time" width="140" />
      <el-table-column label="封面图片">
        <template slot-scope="scope">
          <img :src="fileBaseUrl + scope.row.pic" alt="" width="40" height="40" @click="imgClick(scope.row.pic)">
        </template>
      </el-table-column>
      <el-table-column label="排序" prop="index" />
      <el-table-column align="center" prop="created_at" label="操作" width="150">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="addOrEdit(scope.row, true)">查看</el-button>
          <el-button type="text" size="small" @click="addOrEdit(scope.row)">编辑</el-button>
          <el-button type="text" size="small" @click="handleDel(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 10px;text-align: right;"
      :total="page.total"
      :current-page.sync="page.page"
      :page-size="page.size"
      layout="total, sizes, prev, pager, next, jumper"
      :page-sizes="[10, 20, 30, 40]"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <!--    新增或者删除   -->
    <el-dialog :title="`${disabled ? '详情' : (updateData.id ? '编辑' : '新增')}`" :visible.sync="updateVisible">
      <AddOrEdit v-if="updateVisible" :disabled="disabled" :init-data="updateData" @update="update" />
    </el-dialog>
    <el-dialog append-to-body :visible.sync="imgVisible">
      <img width="100%" :src="fileBaseUrl + imageUrl" alt="">
    </el-dialog>
  </div>
</template>

<script>
import { getList, update, del } from '@/api/gov'
import { getList as getTypeList } from '@/api/govType'
import MainHeader from '@/components/MainHeader'
import AddOrEdit from './addOrEdit'
import { deepClone } from '@/utils'

export default {
  components: {
    MainHeader,
    AddOrEdit
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      list: null,
      listLoading: true,
      page: {
        page: 1,
        size: 10,
        total: 0
      },
      searchForm: {},
      updateVisible: false,
      updateData: {},
      disabled: false,
      fileBaseUrl: `${process.env.NODE_ENV === 'development' ? process.env.VUE_APP_API_HOST : window.location.origin}/`,
      imgVisible: false,
      imageUrl: ''
    }
  },
  created() {
    this.fetchData()
    getTypeList().then(res => {
      this.typeList = res.list
    })
  },
  methods: {
    fetchData(reset) {
      this.listLoading = true
      if (reset) {
        this.page.page = 1
      }
      getList(this.page).then(res => {
        this.list = res.list
        this.page.total = res.total
        this.listLoading = false
      })
    },
    handleSizeChange(val) {
      this.page.size = val
      this.fetchData(1)
    },
    handleCurrentChange(val) {
      this.page.page = val
      this.fetchData()
    },
    // 新增或者编辑
    addOrEdit(val, type) {
      this.updateVisible = true
      this.updateData = val || {}
      this.disabled = type || false
    },
    update(param, type) {
      const params = deepClone(param)
      params.idgovc = type ? this.typeList.filter(el => el.name === params.idgovc)[0].id : params.idgovc
      if (type === 'show') {
        params.show = params.show ? 1 : 0
      } else if (type === 'susume') {
        params.susume = params.susume ? 1 : 0
      }
      update(JSON.stringify(params)).then(res => {
        this.updateVisible = false
        this.$message.success(`${params.id ? '修改' : '新增'}成功`)
        this.fetchData(1)
      })
    },
    handleDel(val) {
      this.$confirm('正在删除选中项, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        del({ id: val.id }).then(res => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
          this.fetchData()
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    imgClick(val) {
      this.imgVisible = true
      this.imageUrl = val
    }
  }
}
</script>
