<template>
  <el-form ref="ruleForm" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="留言内容" prop="id">
      <el-input
        v-model="ruleForm.info"
        type="textarea"
        :rows="5"
        disabled
        resize="none"
      />
    </el-form-item>
    <el-form-item label="管理员备注" prop="comment">
      <el-input
        v-model="ruleForm.comment"
        type="textarea"
        :rows="4"
        resize="none"
      />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
      <el-button @click="resetForm">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { deepClone } from '@/utils'
export default {
  props: {
    initData: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      ruleForm: {},
      rules: {
        comment: [
          { required: true, message: '请输入备注', trigger: 'blur' }
        ]
      },
      min: 1,
      max: 100,
      options: [
        {
          value: 'line',
          label: '在线'
        },
        {
          value: 'offline',
          label: '下线'
        }
      ]
    }
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.ruleForm.isuser = this.ruleForm.id
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm() {
      this.ruleForm.comment = ''
    }
  }
}
</script>
