<template>
  <div class="message-container">
    <MainHeader :is-add="false" @refresh="fetchData(1)" />
    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
    >
      <el-table-column align="center" label="序号" width="90">
        <template slot-scope="scope">
          {{ scope.$index + 1 }}
        </template>
      </el-table-column>
      <el-table-column label="留言用户" prop="nickname" show-overflow-tooltip />
      <el-table-column label="姓名" prop="name" show-overflow-tooltip />
      <el-table-column label="电话" prop="tel" show-overflow-tooltip />
      <el-table-column label="留言内容" prop="info" show-overflow-tooltip />
      <el-table-column label="是否显示" align="center">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.show"
            active-color="#13ce66"
            inactive-color="#C0CCDA"
            :active-value="1"
            :inactive-value="0"
            @change="updateStatus(scope.row, 'show')"
          />
        </template>
      </el-table-column>
      <el-table-column label="备注" prop="comment" show-overflow-tooltip />
      <el-table-column label="留言时间" prop="time" show-overflow-tooltip />
      <el-table-column label="操作" width="150" align="center">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="handleSee(scope.row)">查看</el-button>
          <el-button type="text" size="small" @click="handleEdit(scope.row)">编辑</el-button>
          <!-- <el-button type="text" size="small" @click="handleDel(scope.row)">删除</el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 10px;text-align: right;"
      :total="page.total"
      :current-page.sync="page.page"
      :page-size="page.size"
      layout="total, sizes, prev, pager, next, jumper"
      :page-sizes="[10, 20, 30, 40]"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    <el-dialog title="留言 / 编辑" :visible.sync="updateVisible">
      <AddOrEdit v-if="updateVisible" :init-data="ruleForm" @update="update" />
    </el-dialog>
    <el-dialog title="留言 / 查看" :visible.sync="seeUpdateVisible">
      <See v-if="seeUpdateVisible" :init-data="ruleForm" />
    </el-dialog>
  </div>
</template>

<script>
import { getMessageList, updateMessage } from '@/api/user'
import MainHeader from '@/components/MainHeader'
import AddOrEdit from './addOrEdit'
import See from './see'
import { deepClone } from '@/utils'
export default {
  components: {
    MainHeader,
    AddOrEdit,
    See
  },
  data() {
    return {
      list: [],
      listLoading: true,
      updateVisible: false,
      seeUpdateVisible: false,
      page: {
        page: 1,
        size: 10,
        total: 0
      },
      ruleForm: {}
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData(reset) {
      if (reset === 1) {
        this.page.page = 1
      }
      this.listLoading = true
      getMessageList(this.page).then(response => {
        this.page.total = response.total
        this.list = response.list
        this.listLoading = false
      })
    },
    handleSizeChange(val) {
      this.page.size = val
      this.fetchData(1)
    },
    handleCurrentChange(val) {
      this.page.page = val
      this.fetchData()
    },
    add() {
      this.updateVisible = true
    },
    handleEdit(data) {
      this.ruleForm = data
      this.updateVisible = true
    },
    handleSee(data) {
      this.ruleForm = data
      this.seeUpdateVisible = true
    },
    // handleDel(val) {
    //   this.$confirm('正在删除选中项, 是否继续?', '提示', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     delMessage({ id: val.id }).then(res => {
    //       this.$message({
    //         type: 'success',
    //         message: '删除成功!'
    //       })
    //       this.fetchData()
    //     })
    //   }).catch(() => {
    //     this.$message({
    //       type: 'info',
    //       message: '已取消删除'
    //     })
    //   })
    // },
    update(params) {
      updateMessage(JSON.stringify(params)).then(() => {
        this.updateVisible = false
        this.fetchData()
        this.$message.success(`${params.id ? '修改' : '新增'}成功`)
      })
    },
    updateStatus(param, type) {
      const params = deepClone(param)
      console.log(params)
      // params.idadc = type ? this.typeList.filter(el => el.name === params.idadc)[0].id : params.idadc
      // if (type === 'show') {
      //   params.show = params.show ? 1 : 0
      // }
      // const splitUrl = params.href.split('/')
      // const url = splitUrl[splitUrl.length - 1]

      updateMessage(JSON.stringify(params)).then(res => {
        this.updateVisible = false
        this.$message.success('修改成功')
        this.fetchData(1)
      })
    }
  }
}
</script>
<style lang="scss">
.message-container{
  padding: 10px;
}
.message-bottom{
  margin-top: 10px;
  overflow: hidden;
  .el-pagination{
    float: right;
  }
}
</style>

