<template>
  <el-form ref="ruleForm" :model="ruleForm" label-width="100px" class="demo-ruleForm">
    <!-- <el-form-item label="ID" prop="id">
      <el-input v-model="ruleForm.id" />
    </el-form-item> -->
    <el-form-item label="用户ID" prop="id">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="用户昵称" prop="nickname">
      <el-input v-model="ruleForm.nickname" disabled />
    </el-form-item>
    <el-form-item label="姓名" prop="name">
      <el-input v-model="ruleForm.name" disabled />
    </el-form-item>
    <el-form-item label="联系电话" prop="tel">
      <el-input v-model="ruleForm.tel" disabled />
    </el-form-item>
    <el-form-item label="留言内容" prop="info">
      <el-input v-model="ruleForm.info" disabled type="textarea" />
    </el-form-item>
    <el-form-item label="管理员备注" prop="comment">
      <el-input v-model="ruleForm.comment" disabled />
    </el-form-item>
    <el-form-item label="图片" prop="avatar">
      <img v-if="ruleForm.avatar == null || ruleForm.avatar == 'null' || ruleForm.avatar == undefined" style="width: 140px;height: 140px;" src="../../../assets/images/avatar.png" alt="">
      <img v-else style="width: 140px;height: 140px;" :src="ruleForm.avatar" alt="">
    </el-form-item>
    <el-form-item label="时间" prop="time">
      <el-input v-model="ruleForm.time" disabled />
    </el-form-item>
    <!-- <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item> -->
  </el-form>
</template>
<script>
import { deepClone } from '@/utils'
export default {
  props: {
    initData: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      ruleForm: {},
      min: 1,
      max: 100,
      options: [
        {
          value: 'line',
          label: '在线'
        },
        {
          value: 'offline',
          label: '下线'
        }
      ]
    }
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
  },
  methods: {}
}
</script>
