<template>
  <div class="main-header">
    <div class="main-header-left">
      <el-button icon="el-icon-refresh" @click="$emit('refresh')">刷新</el-button>
    </div>
    <div class="main-header-right">
      <el-button v-if="isAdd" type="primary" icon="el-icon-plus" @click="$emit('add')">新增</el-button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isAdd: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="scss" scoped>
.main-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  div {
    width: 50%;
  }
  .main-header-left {
    text-align: left;
  }
  .main-header-right {
    text-align: right;
  }
}
</style>
