<template>
  <el-form
    ref="ruleForm"
    :disabled="disabled"
    :model="ruleForm"
    :rules="rules"
    label-width="100px"
    class="demo-ruleForm"
  >
    <el-form-item label="ID">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="姓名" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item label="联系电话" prop="tel">
      <el-input v-model="ruleForm.tel" />
    </el-form-item>
    <el-form-item label="微信号" prop="wx">
      <el-input v-model="ruleForm.wx" />
    </el-form-item>
    <el-form-item label="职称" prop="lev">
      <el-input v-model="ruleForm.lev" />
    </el-form-item>
    <el-form-item label="所属科室" prop="idroom">
      <el-select v-model="ruleForm.idroom" placeholder="请选择所属科室">
        <el-option v-for="item in deptList" :key="item.id" :label="item.name" :value="item.id" />
      </el-select>
    </el-form-item>
    <el-form-item label="头像" prop="avatar">
      <ImgUpload v-model="ruleForm.avatar" />
    </el-form-item>
    <el-form-item label="出诊时间" prop="times">
      <el-time-picker
        v-model="times"
        is-range
        range-separator="至"
        start-placeholder="开始时间"
        end-placeholder="结束时间"
        placeholder="选择时间范围"
        :clearable="false"
      />
    </el-form-item>
    <el-form-item label="服务说明">
      <el-input v-model="ruleForm.comment" type="textarea" />
    </el-form-item>
    <el-form-item label="擅长">
      <el-input v-model="ruleForm.skill" type="textarea" />
    </el-form-item>
    <el-form-item label="详细描述">
      <editor v-model="ruleForm.info" editor-id="doctorEditor" />
    </el-form-item>
    <el-form-item label="是否显示">
      <el-switch
        v-model="ruleForm.show"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item>
    <el-form-item label="是否推荐">
      <el-switch
        v-model="ruleForm.susume"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item>
    <el-form-item label="出诊状态" prop="state">
      <el-select v-model="ruleForm.state" placeholder="请选择出诊状态">
        <el-option v-for="item in stateList" :key="item.id" :label="item.name" :value="item.id" />
      </el-select>
    </el-form-item>
    <el-form-item label="排序" prop="index">
      <el-input-number v-model="ruleForm.index" :min="1" :max="1000" />
    </el-form-item>
    <el-form-item v-if="!disabled">
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import editor from '@/components/editor'
import ImgUpload from '@/components/ImgUpload'
import { getList } from '@/api/dept'
import { parseTime, deepClone } from '@/utils'

export default {
  components: { editor, ImgUpload },
  props: {
    initData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      times: [],
      ruleForm: {},
      rules: {
        id: [
          { required: true, message: '请输入id', trigger: 'blur' }
        ],
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' }
        ],
        tel: [
          { required: true, message: '请输入联系电话', trigger: 'blur' }
        ],
        wx: [
          { required: true, message: '请输入微信号', trigger: 'blur' }
        ],
        lev: [
          { required: true, message: '请输入职称', trigger: 'blur' }
        ],
        idroom: [
          { required: true, message: '请选择所属科室', trigger: 'change' }
        ],
        avatar: [
          { required: true, message: '请上传医生头像', trigger: 'blur' }
        ],
        index: [
          { required: true, message: '请输入排序', trigger: 'blur' }
        ],
        state: [
          { required: true, message: '请选择出诊状态', trigger: 'change' }
        ]
      },
      deptList: [],
      stateList: [
        { id: '1', name: '正常' },
        { id: '0', name: '休息' }
      ]
    }
  },
  created() {
    getList().then(res => {
      this.deptList = res.list
      this.$nextTick(() => {
        this.$set(this.ruleForm, 'idroom', this.ruleForm.idroom ? this.deptList.filter(el => el.name === this.ruleForm.idroom)[0].id : '')
      })
    })
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
    this.ruleForm.index = this.ruleForm.index || 1
    this.times = [this.ruleForm.start ? new Date(this.ruleForm.start) : new Date(2016, 9, 10, 9, 0), this.ruleForm.end ? new Date(this.ruleForm.end) : new Date(2016, 9, 10, 18, 0)]
  },
  methods: {
    submitForm(formName) {
      if (!this.ruleForm.id) {
        this.ruleForm.register = parseTime(new Date(), '{y}-{m}-{d} {h}:{i}')
      }
      this.ruleForm.start = parseTime(new Date(this.times[0]), '{y}-{m}-{d} {h}:{i}:{s}')
      this.ruleForm.end = parseTime(new Date(this.times[1]), '{y}-{m}-{d} {h}:{i}:{s}')
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
