<template>
  <el-form ref="ruleForm" :disabled="disabled" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="ID">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="广告位" prop="idadc">
      <el-select v-model="ruleForm.idadc" placeholder="请选择广告位">
        <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id" />
      </el-select>
    </el-form-item>
    <!-- <el-form-item label="广告名称" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item> -->
    <!-- <el-form-item label="广告类型" prop="hreftype">
      <el-radio-group v-model="ruleForm.hreftype">
        <el-radio :label="0">图片</el-radio>
        <el-radio :label="1">网页</el-radio>
        <el-radio :label="2">小程序</el-radio>
      </el-radio-group>
    </el-form-item> -->
    <!-- <el-form-item :label="ruleForm.hreftype === 0 ? '广告图' : '跳转链接'" prop="href">
      <ImgUpload v-if="ruleForm.hreftype === 0" v-model="ruleForm.href" />
      <el-input v-else v-model="ruleForm.href" />
    </el-form-item> -->
    <el-form-item label="封面图片" prop="img">
      <ImgUpload v-model="ruleForm.img" />
    </el-form-item>
    <!-- <el-form-item label="是否显示">
      <el-switch
        v-model="ruleForm.show"
        active-color="#13ce66"
        inactive-color="#C0CCDA"
        :active-value="1"
        :inactive-value="0"
      />
    </el-form-item> -->
    <el-form-item label="排序" prop="index">
      <el-input-number v-model="ruleForm.index" :min="1" :max="1000" />
    </el-form-item>
    <el-form-item v-if="!disabled">
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { getList } from '@/api/advertSpace'
import ImgUpload from '@/components/ImgUpload'
import { parseTime, deepClone } from '@/utils'

export default {
  components: { ImgUpload },
  props: {
    initData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      ruleForm: {
        hreftype: 0,
        idadc: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入广告名称', trigger: 'blur' }
        ],
        href: [
          { required: true, message: '请输入跳转链接或图片', trigger: 'blur' }
        ],
        idadc: [
          { required: true, message: '请选择广告位', trigger: 'change' }
        ],
        img: [
          { required: true, message: '请上传广告图', trigger: 'blur' }
        ],
        index: [
          { required: true, message: '请输入排序', trigger: 'blur' }
        ]
      },
      typeList: []
    }
  },
  created() {
    getList().then(res => {
      this.typeList = res.list
      this.$nextTick(() => {
        this.$set(this.ruleForm, 'idadc', this.ruleForm.idadc ? this.typeList.filter(el => el.name === this.ruleForm.idadc)[0].id : '')
      })
    })
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
    this.ruleForm.index = this.ruleForm.index || 1
    this.$set(this.ruleForm, 'hreftype', this.ruleForm.hreftype ? this.ruleForm.hreftype : 0)
  },
  methods: {
    submitForm(formName) {
      if (!this.ruleForm.id) {
        this.ruleForm.time = parseTime(new Date(), '{y}-{m}-{d} {h}:{i}')
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
