<template>
  <el-form ref="ruleForm" :disabled="disabled" :model="ruleForm" :rules="rules" label-width="100px" class="demo-ruleForm">
    <el-form-item label="ID">
      <el-input v-model="ruleForm.id" disabled />
    </el-form-item>
    <el-form-item label="广告位名称" prop="name">
      <el-input v-model="ruleForm.name" />
    </el-form-item>
    <el-form-item label="图片宽度" prop="width">
      <el-input-number v-model="ruleForm.width" :min="1" :max="10000" />
    </el-form-item>
    <el-form-item label="图片高度" prop="height">
      <el-input-number v-model="ruleForm.height" :min="1" :max="10000" />
    </el-form-item>
    <el-form-item v-if="!disabled">
      <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import { parseTime, deepClone } from '@/utils'

export default {
  props: {
    initData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      ruleForm: {},
      rules: {
        name: [
          { required: true, message: '请输入广告位名称', trigger: 'blur' }
        ],
        width: [
          { required: true, message: '请输入图片宽度', trigger: 'blur' }
        ],
        height: [
          { required: true, message: '请输入图片高度', trigger: 'blur' }
        ]
      }
    }
  },
  mounted() {
    this.ruleForm = deepClone(this.initData)
    this.ruleForm.width = this.ruleForm.width || 100
    this.ruleForm.height = this.ruleForm.height || 100
  },
  methods: {
    submitForm(formName) {
      if (!this.ruleForm.id) {
        this.ruleForm.time = parseTime(new Date(), '{y}-{m}-{d} {h}:{i}')
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('update', this.ruleForm)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>
